*.o
*.exe

*.dat

*.out
*.DS_Store

Frascos/readme.txt
Frascos/run.exe.stackdump
MochilaFracionaria/~$graficos.xlsx
kpfrac_linear.csv
*.stackdump
MochilaFracionaria/~$kpfrac_heuristic.xlsx
MochilaFracionaria/kpfrac_heuristic__Tem que rodar 9846.csv
*.class
